<!DOCTYPE html>
<html>
<head>
    <title>{{ restaurant_name }} Menu</title>
    <style>
        body{
          font-family:Arial,sans-serif;
          text-align:center;
          background-color:#f4f4f4;
        }
    
        h1{
         color:#333;
        }
        img{
          border-radius: 10px;
          max-width: 100%;
        }
        
        nav a{
          margin:0 10px;
          text-decoration:none;
          color:#007BFF;
        }
        nav a:hover{
          text-decoration:underline;
        }
    </style>
</head>

<body>
    <h1>Welcome to {{ restaurant_name }}</h1>
    <img src="{{ image_url }}" alt="Restaurant">
    <nav>
        <a href="{% url 'menu_list' %}">View Menu</a>
        <a href="% utl 'about' %">About Us</a>
    </nav>
</body>
</html>
